:root {
  --one: #022c22;
  --two: #064e3b;
  --three: #065f46;
  --four: #047857;
  --five: #059669;
  --six: #10b981;
  --seven: #34d399;
  --eight: #6ee7b7;
  --nine: #a7f3d0;
  --ten: #d1fae5;
  --eleven: #ecfdf5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--one);
  color: var(--eleven);
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: var(--font-custom);
}

a {
  color: inherit;
  text-decoration: none;
}