.container-landing {
  width: 100%;
  height: auto;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-landing .content-landing {
  width: 95%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.container-landing .content-landing .timelines {
  width: 100%;
  height: auto;
}

.container-landing .content-landing .timelines .timeline {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-landing .content-landing .timelines .timeline .timeline-month {
  width: max-content;
  min-width: 150px;
  padding: 20px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.container-landing .content-landing .timelines .timeline .timeline-month p {
  font-size: 18px;
  font-weight: 500;
  margin: 0px 0px 4px 0px;
}

.container-landing .content-landing .timelines .timeline .timeline-month span {
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}

.container-landing .content-landing .timelines .timeline .timeline-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .date {
  width: 220px;
  min-width: 220px;
  padding: 20px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .date::before {
  content: "";
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #efefef;
  border: 2px solid var(--five);
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .date p {
  font-size: 18px;
  font-weight: 500;
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .row {
  width: 3px;
  height: auto;
  align-self: stretch;
  background: var(--five);
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .timeline-events {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 20px 50px 40px;
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .timeline-events .event {
  width: 100%;
  height: auto;
  padding: 25px;
  border-radius: 12px;
  border: 2px solid var(--five);
  background: var(--three);
  color: #fefefe;
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .timeline-events .event h1 {
  font-size: 20px;
  font-weight: 500;
}

.container-landing .content-landing .timelines .timeline .timeline-section .timeline-day .timeline-events .event p {
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0px 0px 0px;
}